# Temporary
tmp/

# OS
.DS_Store

# Secrets and Environment
.env
.env.*

# Dependencies
node_modules/

# Database
*.db
*.sqlite

# Binaries
bin/
test
main
server
app
fonts/
travelingman
travelingman.db-shm
travelingman.db-wal

# IDE
.idea
.vscode
.genkit/
.claude/

